.App {
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(245, 245, 245);
}

body {
  padding: 0;
  margin: 0;
}

footer {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 14px;
}

footer p {
  margin-right: 10px;
}

.github-logo {
  height: 25px;
  width: 25px;
}